<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop 
                    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
                    http://www.springframework.org/schema/context/spring-context-3.2.xsd">
                    
    <context:annotation-config />   
    <context:component-scan base-package="com.mir00r.jdbc_dao" />
    
    <bean id="dataSource" 
          class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/spring_jdbc" />
        <property name="username" value="root" />
        <property name="password" value="password" /> 
    </bean>
    
    <bean id="edSupprotDao" class="com.mir00r.jdbc_dao.EdSupportDao">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" ></property>
        
        <!--        for annotation based configuration use the following line-->
<!--        <property name="packagesToScan" value="com.mir00r.jdbc_model" ></property>
        <property name="annotatedClasses">
            <list>
                <value>com.mir00r.jdbc_model.Employee</value>
            </list>
        </property>-->
        
        <!--        for XML based configuration use the following line-->
        <property name="mappingResources">
            <list>
                <value>com/mir00r.jdbc_model/Employee.hbm.xml</value>
            </list>
        </property>
        
        <property name="hibernateProperties">
            <list>
                <value>
                    hibernate.dialect=org.hibernate.dialect.MySQLDialect
                    hibernate.show_sql=true
                </value>
            </list>
        </property>
    </bean>
   
</beans>

